BK6QE8_0924/BK6QE8_mozi.dtd

<!ELEMENT mozi (film*)>
<!ELEMENT film (rendezo+, szinesz+, iro+)>
<!ATTLIST film 
    id CDATA #REQUIRED
    mufaj (horror|sci-fi|romantikus) "horror"
>
<!ELEMENT rendezo (#EMPTY)>
<!ATTLIST rendezo 
    id CDATA #REQUIRED
    nev CDATA #IMPLIED
>
<!ELEMENT szinesz (#EMPTY)>
<!ATTLIST szinesz 
    id CDATA #REQUIRED
    nev CDATA #IMPLIED
>
<!ELEMENT iro (#EMPTY)>
<!ATTLIST iro 
    id CDATA #REQUIRED
    nev CDATA #IMPLIED
>