BK6QE8_0924/BK6QE8_orarend.dtd

<!ELEMENT BK6QE8_orarend (ora*)>
<!ELEMENT ora (targy, idopont, helyszin, oktato, szak)>

<!ATTLIST ora 
    id CDATA #REQUIRED
    típus CDATA #REQUIRED
>
<!ELEMENT targy (#PCDATA)>
<!ELEMENT idopont (nap, tol, ig)>
<!ELEMENT nap (#PCDATA)>
<!ELEMENT tol (#PCDATA)>
<!ELEMENT ig (#PCDATA)>
<!ELEMENT helyszin (#PCDATA)>
<!ELEMENT oktato (#PCDATA)>
<!ELEMENT szak (#PCDATA)>